<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Metas -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title><%= title %></title>
	<meta name="description" content="Satie - Agency & Portfolio HTML Template">

	<!-- External CSS -->
	<link rel="stylesheet" href="/portfolioDemo2/css/fontawesome-all.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/portfolioDemo2/css/main.css">
	<link rel="stylesheet" href="/portfolioDemo2/css/colors.css">
	<link rel="stylesheet" href="/portfolioDemo2/css/responsive.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600%7CQuestrial" rel="stylesheet">

	<!-- Favicon -->
	<link rel="icon" href="/portfolioDemo2/img/favicon.png">
</head>
<body>

	<!-- ========== Header ========== -->
	<% include header %>    <!--include file header.ejs vào dùng chung cho cả page-->

	<!-- ========== Main ========== -->

	<main class="about-me">

		<div class="container">
			
			<div class="image">
				<img src="/portfolioDemo2/img/img-placeholder.png" alt="" class="img-cover">
			</div>

			<div class="content">

				<div class="intro">
					
					<h2>digital designer</h2>

					<p>Hello, I am Helen Brown freelance digital designer from Berlin.
					Lorem ipsum dolor sit amet, lorem consectetur adipisicing elit,
					sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua dolorem elit sum fugiat nulla pariatur sint occaecat.</p>

					<p>Enim ad minim veniam, quis nostrud exercitation ullamco
					aborisnisi ut aliquip ex ea commodo consequat. Duis aute irure
					dolorin reprehenderit in voluptate velit esse cillum dolore eu.</p>

				</div> <!-- /.intro -->

				<div class="services">
					
					<h2>my services</h2>

					<ul>
						<li>app development</li>
						<li>brand identity</li>
						<li>creative direction</li>
						<li>graphic design</li>
						<li>illustration</li>
					</ul>

					<ul>
						<li>photogrpahy</li>
						<li>user research</li>
						<li>UI/UX design</li>
						<li>web design</li>
						<li>web development</li>
					</ul>

					<div class="clearfix"></div>

				</div> <!-- /.services -->

				<div class="awards">
					
					<h2>awards</h2>

					<ul>
						<li>awwwards</li>
						<li>behance</li>
						<li>best CSS: site of the day</li>
						<li>siteInspire</li>
						<li>the FWA</li>
						<li>the webby awards</li>
					</ul>

				</div> <!-- /.awards -->

				<div class="contact-me">

					<h2>get in touch</h2>

					<p>I am always interested in new projects and ideas. If you have<br>
					an interesting project in mind, do not hesitate to contact me<br>
					and figure out how I can help.
					</p>

					<a href="mailto:" class="mail-link">satie-design@mail.com</a>

				</div> <!-- /.contact-me -->

			</div> <!-- /.content -->

			<div class="clearfix"></div>
			
		</div> <!-- /.container -->
	
	</main> <!-- /.about-me -->

	<footer class="footer-extended footer-bg-grey">
		<% include footer2 %>    <!--include file footer2.ejs vào dùng chung cho cả page-->
	</footer>
	<% include full-screen-nav %>    <!--include file full-screen-nav.ejs vào dùng chung cho cả page-->
	
	<script src="/portfolioDemo2/js/jquery-3.6.0.min.js"></script>
	<script src="/portfolioDemo2/js/main.js"></script>
	
</body>
</html>