
	<div class="hero">
		
		<% include header %>    <!--include file header.ejs vào dùng chung cho cả page-->

		<div class="content">
				
			<h2>modern design &amp; digital agency</h2>
			<h1>We design and build effective<br> digital experience</h1>
			<a href="#works" class="btn">our works</a>

		</div> <!-- /.content -->

	</div> <!-- /.hero -->