<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Metas -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title><%= title %></title>
	<meta name="description" content="Satie - Agency & Portfolio HTML Template">

	<!-- External CSS -->
	<link rel="stylesheet" href="/portfolioDemo2/css/fontawesome-all.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/portfolioDemo2/css/main.css">
	<link rel="stylesheet" href="/portfolioDemo2/css/colors.css">
	<link rel="stylesheet" href="/portfolioDemo2/css/responsive.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600%7CQuestrial" rel="stylesheet">

	<!-- Favicon -->
	<link rel="icon" href="/portfolioDemo2/img/favicon.png">
</head>
<body>

	<!-- ========== Header ========== -->
	<% include header %>    <!--include file header.ejs vào dùng chung cho cả page-->

	<!-- ========== Main ========== -->

	<main class="blog-post">
			
		<div class="container">

			<article>
				
				<header class="entry-header">

					<a href="/portfolioDemo2/#" class="entry-category">design</a>
					<h2 class="entry-title"><a href="/portfolioDemo2/blog-post-demo2">How to Create the Perfect<br> Color Scheme</a></h2>
					<span class="posted-on">20.03.19</span>

					<figure class="entry-thumbnail">
		                <img src="/portfolioDemo2/img/img-placeholder.png" class="img-cover" alt="">
		            </figure>

				</header> <!-- /.entry-header -->

				<div class="entry-content">
					
					<p>Miss Austen never attempts to describe a scene or a class of society with which she was not herself thoroughly acquainted. The conversations of ladies with ladies, or of ladies and gentlemen together, are given, but no instance occurs of a scene in which men only are present. The uniform quality of her work is one most remarkable point to be observed in it.</p>

					<p>Let a volume be opened at any place: there is the same good English, the same refined style, the same simplicity and truth. There is never any deviation into the unnatural or exaggerated; and how worthy of all love and respect is the finely disciplined genius which rejects the forcible but transient modes of stimulating interest which can so easily be employed when desired, and which knows how to trust to the never-failing principles of human nature!</p>

					<figure class="post-img">
						<img src="/portfolioDemo2/img/img-placeholder.png" alt="" class="img-cover">
					</figure>

					<p>This very trust has sometimes been made an objection to Miss Austen, and she has been accused of writing dull stories about ordinary people. But her supposed ordinary people are really not such very ordinary people. Let anyone who is inclined to criticise on this score endeavor to construct one character from among the ordinary people of his own acquaintance that shall be capable of interesting any reader for ten minutes.</p>

					<p>It will then be found how great has been the discrimination of Miss Austen in the selection of her characters, and how skillful is her treatment in the management of them. It is true that the events are for the most part those of daily life, and the feelings are those connected with the usual joys and griefs of familiar existence.</p>

					<blockquote>
						<p>Let a volume be opened at any place: there is the same good English, the same refined style, the same simplicity and truth.</p>
					</blockquote>

					<p>It will then be found how great has been the discrimination of Miss Austen in the selection of her characters, and how skillful is her treatment in the management of them. It is true that the events are for the most part those of daily life, and the feelings are those connected with the usual joys and griefs of familiar existence.</p>

				</div> <!-- /.entry-content -->

				<footer class="entry-footer">
					
					<div class="tag-links">
						<a href="/portfolioDemo2/#">design</a>
						<a href="/portfolioDemo2/#">color</a>
					</div>

					<ul class="share-links">
						<li><a href="/portfolioDemo2/#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="/portfolioDemo2/#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="/portfolioDemo2/#"><i class="fab fa-pinterest-p"></i></a></li>
					</ul>

					<div class="clearfix"></div>

				</footer> <!-- /.entry-footer -->

			</article> <!-- /article -->

			<div class="about-author">
				
				<div class="author-photo">
					<img src="/portfolioDemo2/img/author-photo.png" alt="" class="img-cover">
				</div>

				<div class="author-info">
					<h3 class="name">amelia evans</h3>
					<ul class="follow-links">
						<li><a href="/portfolioDemo2/#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="/portfolioDemo2/#"><i class="fab fa-instagram"></i></a></li>
						<li><a href="/portfolioDemo2/#"><i class="fab fa-linkedin-in"></i></a></li>
					</ul>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
				</div>

				<div class="clearfix"></div>

			</div> <!-- .about-author -->

			<div class="related-posts">
				
				<div class="item">

					<figure class="entry-thumbnail">
			             <img src="/portfolioDemo2/img/img-placeholder.png" alt="" class="img-cover">
			        </figure>

			        <a href="/portfolioDemo2/#" class="entry-category">design</a>
			        <h2 class="entry-title"><a href="/portfolioDemo2/blog-post-demo2">How to Design a Perfect Logo for Your Brand</a></h2>

				</div> <!-- /.item -->

				<div class="item">

					<figure class="entry-thumbnail">
			             <img src="/portfolioDemo2/img/img-placeholder.png" alt="" class="img-cover">
			        </figure>

			        <a href="/portfolioDemo2/#" class="entry-category">design</a>
			        <h2 class="entry-title"><a href="/portfolioDemo2/blog-post-demo2">Golden Typography Rules for Perfect UX</a></h2>

				</div> <!-- /.item -->

				<div class="clearfix"></div>

			</div> <!-- /.related-posts -->

			<div class="comments">
				
				<header><h2>comments</h2></header>

				<div class="comment">
					
					<div class="avatar">
						<img src="/portfolioDemo2/img/author-photo.png" alt="" class="img-cover">
					</div>

					<div class="content">
						<h2 class="name">helen brown</h2>
						<h3 class="publication-date">February 3, 2018 at 2.00pm</h3>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
						<a href="/portfolioDemo2/#" class="reply">reply</a>
					</div>

					<div class="clearfix"></div>

				</div> <!-- /.comment -->

				<div class="comment">
					
					<div class="avatar">
						<img src="/portfolioDemo2/img/author-photo.png" alt="" class="img-cover">
					</div>

					<div class="content">
						<h2 class="name">george wood</h2>
						<h3 class="publication-date">February 3, 2018 at 2.00pm</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<a href="/portfolioDemo2/#" class="reply">reply</a>
					</div>

					<div class="clearfix"></div>

				</div> <!-- /.comment -->

			</div> <!-- /.comments -->

			<div class="leave-comment">
				
				<header><h2>leave a comment</h2></header>

				<form action="#" class="contact-form">
					
					<input  name="name" placeholder="Name *" type="text" required>
					<input  name="email" placeholder="Email *" type="email" required>
					<textarea name="message" required=""></textarea>
					<input type="submit" value="submit">
					<div class="clearfix"></div>

				</form>

			</div> <!-- /.leave-comment -->

		</div> <!-- /.container -->
		
	</main> <!-- /.blog-post -->

	<footer class="footer-extended footer-bg-grey">
		<% include footer2 %>    <!--include file footer2.ejs vào dùng chung cho cả page-->
	</footer>
	<% include full-screen-nav %>    <!--include file full-screen-nav.ejs vào dùng chung cho cả page-->

	<script src="/portfolioDemo2/js/jquery-3.6.0.min.js"></script>
	<script src="/portfolioDemo2/js/main.js"></script>
	
</body>
</html>