
	<!--<footer class="footer-default footer-inverse footer-default-inverse-border">-->

		<div class="container-large">

			<p class="copyright"><i class="far fa-copyright"></i> 2021 satie portfolio template. all rights reserved</p>

			<ul class="follow-us-links">
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
				<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
				<li><a href="#"><i class="fab fa-behance"></i></a></li>
			</ul> 

			<div class="clearfix"></div>

		</div> <!-- /.container-large -->

	<!--</footer>--> <!-- /.footer-default -->
	