
	<!--<footer class="footer-extended">-->

		<div class="info">

			<div class="container">
				
				<ul>
					<li>contact</li>
					<li><span class="mailaddress">satie-design@mail.com</span></li>
					<li>+3809812345</li>
				</ul>

				<ul>
					<li>links</li>
					<li><a href="/portfolioDemo2/about-us-demo2">about us</a></li>
					<li><a href="/portfolioDemo2/metro-01-demo2">works</a></li>
					<li><a href="/portfolioDemo2/blog-list-demo2">blog</a></li>
					<li><a href="/portfolioDemo2/contact-demo2">contact us</a></li>
				</ul>

				<ul>
					<li>address</li>
					<li>satie agency</li>
					<li>72 oak street</li>
					<li>london, UK</li>
				</ul>

				<ul>
					<li>follow us</li>
					<li><a href ="#">twitter</a></li>
					<li><a href ="#">instagram</a></li>
					<li><a href ="#">behance</a></li>
					<li><a href ="#">dribbble</a></li>
				</ul>

			</div> <!-- /.container -->

			<div class="clearfix"></div>

		</div><!-- /.info -->

		<div class="copyright-section">
			
			<div class="container">

				<p class="copyright"><i class="far fa-copyright"></i> 2021 satie portfolio template. all rights reserved</p>

			</div> <!-- /.container -->

		</div> <!-- /.copyright-section -->

	<!--</footer>--> <!-- /.footer-extended -->
    