
	<div class="full-screen-nav">
		
		<div class="container">
			
			<a href="/portfolioDemo2/#" class="nav-close"><i class="ti-close"></i></a>

			<nav>
				<ul class="collapsible-nav">
					<li>home
						<ul class="coll-nav-sub-item">
							<li><a href="/portfolioDemo2/index-demo2">modern agency</a></li>
							<li><a href="/portfolioDemo2/agency-minimal-demo2">agency minimal</a></li>
							<li><a href="/portfolioDemo2/interactive-links-demo2">interactive links</a></li>
							<li><a href="/portfolioDemo2/portfolio-cards-demo2">portfolio cards</a></li>
							<li><a href="/portfolioDemo2/metro-02-demo2">portfolio metro</a></li>
							<li><a href="/portfolioDemo2/personal-portfolio-demo2">personal portfolio</a></li>
						</ul>
					</li>
					<li>about
						<ul class="coll-nav-sub-item">
							<li><a href="/portfolioDemo2/about-us-demo2">about us</a></li>
							<li><a href="/portfolioDemo2/about-me-demo2">about me</a></li>
						</ul>
					</li>
					<li>works
						<ul class="coll-nav-sub-item">
							<li><a href="/portfolioDemo2/2-columns-grid-demo2">2 columns grid</a></li>
							<li><a href="/portfolioDemo2/3-columns-grid-demo2">3 columns grid</a></li>
							<li><a href="/portfolioDemo2/2-columns-grid-no-gap-demo2">2 columns grid no gap</a></li>
							<li><a href="/portfolioDemo2/3-columns-grid-no-gap-demo2">3 columns grid no gap</a></li>
							<li><a href="/portfolioDemo2/metro-01-demo2">metro 01</a></li>
							<li><a href="/portfolioDemo2/metro-02-demo2">metro 02</a></li>
							<li><a href="/portfolioDemo2/irregular-grid-01-demo2">irregular grid 01</a></li>
							<li><a href="/portfolioDemo2/irregular-grid-02-demo2">irregular grid 02</a></li>
							<li><a href="/portfolioDemo2/portfolio-cards-demo2">portfolio cards</a></li>
							<li><a href="/portfolioDemo2/interactive-links-demo2">interactive links</a></li>
						</ul>
					</li>
					<li><a href="/portfolioDemo2/blog-list-demo2">blog</a></li>
					<li><a href="/portfolioDemo2/contact-demo2">contact</a></li>
				</ul>
			</nav> 

		</div> <!-- /.container -->

	</div> <!-- /.full-screen-nav -->