<header class="header-default">

			<div class="container">

				<a href="/portfolioDemo2/index-demo2">
					<img src="/portfolioDemo2/img/logo.svg" alt="Satie Logo" class="logo">
				</a>

				<a href="/portfolioDemo2/#" class="nav-open"><i></i></a>

				<nav class="navigation">
					<ul>
						<li><a href="/portfolioDemo2/index-demo2">home</a>
							<ul class="sub-nav">
								<li><a href="/portfolioDemo2/index-demo2">modern agency</a></li>
								<li><a href="/portfolioDemo2/personal-portfolio-demo2">personal portfolio</a></li>
							</ul>
						</li>
						<li><a href="/portfolioDemo2/portfolio-cards-demo2">works</a>
							<ul class="sub-nav">
								<li><a href="/portfolioDemo2/portfolio-cards-demo2">portfolio cards</a></li>
							</ul>
						</li>
					</ul>
				</nav> <!-- /.navigation -->

				<div class="clearfix"></div>

			</div> <!-- /.container -->

		</header> <!-- /.header-default -->