<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Metas -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title><%= title %></title>
	<meta name="description" content="Satie - Agency & Portfolio HTML Template">

	<!-- External CSS -->
	<link rel="stylesheet" href="/portfolioDemo2/css/fontawesome-all.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/portfolioDemo2/css/main.css">
	<link rel="stylesheet" href="/portfolioDemo2/css/colors.css">
	<link rel="stylesheet" href="/portfolioDemo2/css/responsive.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600%7CQuestrial" rel="stylesheet">

	<!-- Favicon -->
	<link rel="icon" href="/portfolioDemo2/img/favicon.png">
</head>
<body>

	<!-- ========== Header ========== -->
	<% include header %>    <!--include file header.ejs vào dùng chung cho cả page-->

	<!-- ========== Main ========== -->

	<main class="interactive-links">
		
		<a href="/portfolioDemo2/single-project-demo2">
			<div class="item">
				<h2>voix agency<span>2019</span></h2>
				<img src="/portfolioDemo2/img/interactive-links/item-1.png" alt="" class="img-responsive">
			</div>
		</a>

		<a href="/portfolioDemo2/single-project-demo2">
			<div class="item">
				<h2>iconnika<span>2018</span></h2>
				<img src="/portfolioDemo2/img/interactive-links/item-2.png" alt="" class="img-responsive">
			</div>
		</a>

		<a href="/portfolioDemo2/single-project-demo2">
			<div class="item">
				<h2>kleo digital<span>2018</span></h2>
				<img src="/portfolioDemo2/img/interactive-links/item-3.png" alt="" class="img-responsive">
			</div>
		</a>

		<a href="/portfolioDemo2/single-project-demo2">
			<div class="item">
				<h2>splash<span>2018</span></h2>
				<img src="/portfolioDemo2/img/interactive-links/item-4.png" alt="" class="img-responsive">
			</div>
		</a>

		<a href="/portfolioDemo2/single-project-demo2">
			<div class="item">
				<h2>ginger beer<span>2018</span></h2>
				<img src="/portfolioDemo2/img/interactive-links/item-5.png" alt="" class="img-responsive">
			</div>
		</a>

		<a href="/portfolioDemo2/single-project-demo2">
			<div class="item">
				<h2>noir blue<span>2018</span></h2>
				<img src="/portfolioDemo2/img/interactive-links/item-6.png" alt="" class="img-responsive">
			</div>
		</a>

	</main> <!-- /.interactive-links -->

	
	
	<% include full-screen-nav %>    <!--include file full-screen-nav.ejs vào dùng chung cho cả page-->
	
	<script src="/portfolioDemo2/js/jquery-3.6.0.min.js"></script>
	<script src="/portfolioDemo2/js/main.js"></script>
	
</body>
</html>